<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Senesco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Senesco.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<!-- =================================================================== -->
	<!-- =================================================================== -->
	<log4net>
		<!-- This logger is for logging chat messages only. -->
		<logger name="ChatLog">
			<!-- Change this from "DEBUG" to "INFO" to omit local messages like join/part/connected. -->
			<level value="DEBUG"/>
			<appender-ref ref="RollingChatLog"/>
		</logger>
		<appender name="RollingChatLog" type="log4net.Appender.RollingFileAppender">
			<file value="${APPDATA}\Senesco\Logs\Chat.log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Size"/>
			<maximumFileSize value="1MB"/>
			<!-- negative value for 'no limit' -->
			<maxSizeRollBackups value="-1"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date{yyyy/MM/dd HH:mm:ss} - %message%newline"/>
			</layout>
		</appender>
		<!-- =================================================================== -->
		<!-- =================================================================== -->
		<!-- This logger is for logging application behavior and actions. -->
		<root>
			<level value="ERROR"/>
			<appender-ref ref="RollingFileLog"/>
			<appender-ref ref="ConsoleAppender"/>
		</root>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] [%logger] %level - %message%newline"/>
			</layout>
		</appender>
		<appender name="RollingFileLog" type="log4net.Appender.RollingFileAppender">
			<file value="${APPDATA}\Senesco\Logs\Senesco.log"/>
			<appendToFile value="true"/>
			<maximumFileSize value="100KB"/>
			<maxSizeRollBackups value="5"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] [%logger] %level - %message%newline"/>
			</layout>
		</appender>
	</log4net>
	<!-- =================================================================== -->
	<!-- =================================================================== -->
</configuration>
